{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Something went wrong</h1>

    <p>
        The requested page couldn't be loaded due to an error. <a href="/">Return to the homepage</a>.
    </p>
{% endblock %}