{% extends 'base.html.twig' %}

{% block title %} Hacker News App {% endblock %}

{% block body %}

    <div id="root"></div>

    {% block javascripts %}
        <script> window.REP_LOG_APP_PROPS = {{ repLogAppProps|json_encode|raw }}; </script>
        <script type="text/javascript" src="{{ asset('build/js/item.js') }}"></script>
    {% endblock %}
{% endblock %}

